 /*---------------------------- Navbar */

 /*---------------------------- General */
 .uppercase{
     text-transform: uppercase;
 }

 .center-align{
    text-align: center;
 }

/*---------------------------- Sorting Vizualizer */
.flex-container{
    margin-top: 25px;
    display: flex;
    height: 500px;
    justify-content: center;
    flex-wrap: nowrap;
}

.bar-style{
    background: black;
    border: 1pt red solid;
    width: 10px;
    transition: 1s all ease;
}