 /*---------------------------- Navbar */
 /* https://stackoverflow.com/questions/51973629/justify-content-between-inside-nav-bar-in-bootstrap */
.navbar-nav{
flex: 0.8;
margin: auto !important;
display: flex;
justify-content: space-between;
align-items: center;
}

 /*---------------------------- General */
 .uppercase{
     text-transform: uppercase;
 }

 .center-align{
    text-align: center;
 }

/*---------------------------- Sorting Vizualizer */
.flex-container{
    margin-top: 25px;
    display: flex;
    height: 500px;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.bar-style{
    background: black;
    border: 1pt red solid;
    width: 20px;
    transition: 1s all ease;
}